
html {
	font-family: Comic;
}
#photo{
	position: relative;
	margin-left: 600px;
}
.adresse {
	text-align:left;
	line-height : 0.5;
	}
.interv {
	color:#30902e;
}
.titre {
	text-align: center;
	color: #30902e;
}
.experience {
	font-family: Comic;
	line-height : 2.0;
}
.periode {
	font-weight:bold; 
	margin-left: 10px;
	width: 200px; 
}
.pro {
	position: relative;
	margin-left: 100px;
}
.formation {
	color:#30902e;
}
.langue {
	
}
.activite {
	line-height : 0.5;
}

.italique {
	font-style : italic;
	color: blue;
}
