
html {
	font-family: Comic;
}
body{
margin:0px;
}
#header {
height:30px;
background:#025986;
color: white;
}
a:visited
{
color: #ffffff;
} 
a:hover
{
	color: yellow;
}

#photo{
	position: relative;
	margin-left: 700px;
}
.a1 {
	margin-left: 30px;
}
.a2 {
	margin-left: 60px;
}

.adresse {
	text-align:left;
	line-height : 0.5;
	}
.interv {
	color:#30902e;
}
.titre {
	text-align: center;
	color: #30902e;
}
.experience {
	font-family: Comic;
	line-height : 2.0;
}
.periode {
	font-weight:bold; 
	margin-left: 10px;
	width: 200px; 
}
.pro {
	position: relative;
	margin-left: 100px;
}
.formation {
	color:#30902e;
}
.langue {
	
}
.activite {
	line-height : 0.5;
}

.italique {
	font-style : italic;
	color: blue;
}
.b3 {
	float:right;
}
#footer{
height:50px;
background:#025986;
}